/* LOGIN - VER SI QUITARLO NO ROMPE NADA VISUAL */

.contenedorLogin{
    color: var(--color-negro);
    font: var(--font-P500);
}

.contenedorLogin-form{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.contenedorLogin_form-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.contenedorLogin_form_label-input{
    padding: 8px;
    outline: none;
    border-radius: 4px;
}

.contenedorLogin_form-cajaBtn{
display: flex;
justify-content: center;
}

.contenedorLogin_form_cajaBtn-btn:hover{
    background-color: var(--color-verde100);
}


/* ESTILO PARA LAS TABLAS A MOSTRAR */

table.lista {
    width: 99%;
    min-height: 120px;
    text-align: center;
    border-collapse: collapse;
}

table.lista td,
table.lista th {
    padding: 5px 5px;
}

table.lista tbody td {
    font: var(--font-P300);
}

table.lista tr:nth-child(even) {
    background: #D0E4F5;
}

table.lista thead {
    background: #3e64bc;
}

table.lista thead th {
    font: var(--font-P700);
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

/* ACCIONES */

.acciones{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.divUsuarios, .divMaterias, .divCarreras, .divNotas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.divUsuarios-cabecera, .divMaterias-cabecera, .divCarreras-cabecera, .divNotas-cabecera{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}